body{
		background-color: beige;
}
h1, body /*fonts credited to cssfontstack.com*/{
	  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
		font-size: 0.938em /* 15px golden*/
		line-height: 24.27px
		line-height: 1.517em
}
bio{
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul{
	  list-style: none;
		padding-left: 0;
}
ul.experience{
	  list-style: none;
		padding-left: 0;
}

ul.nav{
	  list-style: none;
		padding: 0;
		position: fixed;
}
li.nav{
		display: inline;
}
div.left{
		float:left;
		width: 10%;
		padding: 0 0 0 1em;
		margin: 0;
}
div.right{
		width: 90%;
		float: right;
		padding: 0 0 0 1em;
		margin: 0;
}
div.name{
		float:left;
		width: 25%;
		padding: 0 0 0 1em;
		margin: 0;
}
div.pic{
		width: 75%;
		padding: 0 0 0 1em;
		margin: 0;
}
